* {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  margin: auto;
}

input {
  appearance: none;
  font-family: inherit;
  height: 2em;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 2em;
  display: grid;
}

.inner {
  align-self: center;
  justify-self: center;
  text-align: center;
}

#userminutes {
  width: 5em;
}

p {
  margin: 0em 0em 2em 0em;
}

button {
  height: 2em;
}
