* {
  font-family: sans-serif;
  font-size: 1em;
}

input {
  appearance: none;
  font-family: inherit;
  height: 2em;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 2em;
}

#userminutes {
  width: 5em;
}

p {
  margin: 0em 0em 2em 0em;
}
